@page
@model Asp_Core_Identity.Pages.Account.RoleListModel
@{
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
               Description
            </th>
            <th>
              operation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RoleList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Users", new {  id=item.Id , area="Admin" }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete","Users", new { id = item.Id, area = "Admin" })
            </td>
        </tr>
}
    </tbody>
</table>